
.vs/MetalFromFish/DesignTimeBuild/.dtbcache.v2
.vs/MetalFromFish/FileContentIndex/5c44c5e7-b5c1-46dd-8dc3-9b6599668c20.vsidx
.vs/MetalFromFish/FileContentIndex/89e7a3da-13bb-403b-a5d0-9bb88d0b7ef2.vsidx
.vs/MetalFromFish/FileContentIndex/a545c4c3-0988-4ed3-918e-e0e5cd6ed6b0.vsidx
.vs/MetalFromFish/FileContentIndex/a6bdd032-564d-4a1d-b541-dd1f306abf47.vsidx
.vs/MetalFromFish/FileContentIndex/ba3145e7-acae-4515-b986-4bcf17cd02dc.vsidx
.vs/MetalFromFish/FileContentIndex/bb41cc78-aab8-4de5-8a82-0584a2bbd04c.vsidx
.vs/MetalFromFish/FileContentIndex/caa6d008-68c6-4e8e-b579-61962b4579c9.vsidx
.vs/MetalFromFish/FileContentIndex/fd3b2e8f-a312-4699-89b4-05e3c3b6dca4.vsidx
.vs/MetalFromFish/v17/.suo
.vs/ProjectEvaluation/metalfromfish.metadata.v5.2
.vs/ProjectEvaluation/metalfromfish.projects.v5.2
