.vs/MetalFromFish/Debug
.vs/MetalFromFish/DesignTimeBuild
.vs/MetalFromFish/v17/.suo
.vs/ProjectEvaluation/metalfromfish.metadata.v5.2
.vs/ProjectEvaluation/metalfromfish.projects.v5.2
.vs/MetalFromFish/FileContentIndex
.obj/Debug
.vs/MetalFromFish/DesignTimeBuild/.dtbcache.v2
*.v2
.vs/MetalFromFish/v17/.suo
.vs/MetalFromFish/v17
*.2
*.pdb
*.suo
.vs/MetalFromFish/DesignTimeBuild/.dtbcache.v2
.vs/MetalFromFish/v17/.futdcache.v2
.vs/MetalFromFish/v17/.suo
.vs/ProjectEvaluation/metalfromfish.metadata.v5.2
.vs/ProjectEvaluation/metalfromfish.projects.v5.2
bin/Debug/netstandard2.0/MetalFromFish_SN.dll
bin/Debug/netstandard2.0/MetalFromFish_SN.pdb
*.cache
.bin\*
.vs\*
obj/Debug/netstandard2.0/MetalFromFish_SN.dll
